---
title: chomsQy AI
---

{{< blocks/cover title="Welcome to chomsQy AI!" image_anchor="top" height="full" color="purple" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		Learn More <i class="fa-solid fa-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/chomsqy-ai">
		Explore <i class="fa-brands fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">NLP solutions powered by hybrid quantum-classcial computing<br>The future one-stop shop for multilingual speech recognition</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
chomsQy AI uses simulated quantum circuits, aka "hybrid quantum-classical neural networks" to bring the innovations and improvements of quantum computing algorithms to classical computing, currently through speech recognition and transcription. The goal is to create significant gains and improve accuracy for this core NLP task through minimizing computing costs and resources.

<a href="https://www.netlify.com" target="_blank" rel="noopener">
  <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Deploys by Netlify" />
</a>
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fa-lightbulb" title="See  in action!" url="/docs/s/" %}}
As well as our  site, there's a growing number of projects using  for their doc sites.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-brands fa-github" title="Contributions welcome in the future!" url="https://github.com/chomsqy-ai" %}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-brands fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/chomsqy-ai" %}}
Find out about new features and developments.
{{% /blocks/feature %}}

{{< /blocks/section >}}
